<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>300x250</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js"></script>

</head>
    

<body>
    <div id="main" class="main">
        
        <!--        create a div for each element needed.-->
        <div id="content" class="content hidden">

        </div>
    	<div id="content1" class="content1">

        </div>
    	<div id="content2" class="content2 hidden">

        </div>
        <div id="content3" class="content3 hidden ">

        </div>
        <div id="content4" class="content4 animate1">

        </div>
        <div id="content5" class="content5 hidden">

        </div>
        <div id="content6" class="content6 hidden">

        </div>
    </div>
</body>

</html>
